  .kaufman {
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-top: 90px;
    padding-bottom: 90px;
  
    position: relative;
    overflow: hidden; /* защита от переполнения при повороте анимации*/
  }
  
  .kaufman__triangle {
    position: absolute;
    right: -210px;
    width: 877px;
    height: 877px;
    z-index: 0;
  }
  
  .kaufman__triangle-rotation {
    animation: rotation infinite normal linear 20s;;
  }
  
