.cards__item {
    width: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
  }

  .cards__item_in-center {
    margin-left: 100px;
    margin-right: 100px;
  }