body {
  font-family: 'Inter', 'Arial', 'sana-serif';
}

h1, h2, h3 {
  margin: 0px;
  padding: 0px;
}

p {
  margin: 0px;
}

.myflexbox { /*этот класс добавляется ко всем flex-элементам в html*/
  display: flex;
}

.graybordertop {
  border-top: 1px solid gray;
}

.grayborderbottom {
  border-bottom: 1px solid gray;
}

.empty_block_height_40px {
  width: 100%;
  height: 40px;
  z-index: 1;
}
.empty_block_height_60px {
  width: 100%;
  height: 60px;
  z-index: 1;
}
.empty_block_height_90px {
  width: 100%;
  height: 90px;
  z-index: 1;
}
.empty_block_height_100px {
  width: 100%;
  height: 100px;
  z-index: 1;
}

/*.redborder {
  border: 1px solid red;
}

.greenborder {
  border: 1px solid green;
}

.blueborder {
  border: 1px solid blue;
}

.blackborder {
  border: 1px solid black;
}
*/
a {
  opacity: 1;
  transition: opacity 0.6s linear;
  }
a:hover {
  opacity: 0.6;
}