.footer {
    background-color: black;
    min-height: 350px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: nowrap;
  }
  
  .footer__columns {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: stretch;
    width: 90%;
    position: relative;
    min-height: 250px;
  }
  
  .footer__column_content_copyright {
    width: 50%;
  }
  
  .footer__logo_logo_place_footer {
    background-image: url(../../images/logo_place_footer.svg);
    position: absolute; 
  }
  
  .footer__author {
    position: absolute;
    bottom: 0px;
    color: white;
    margin-top: 18px;
    margin-bottom: 18px;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
  }
  
  /*.footer__column_content_info {
   
  }
  
  .footer__column_content_social {
   
  }*/
  
  .footer__column-heading {
    color: white;
    margin-bottom: 20px;
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
  }
  .footer__column-links {
    margin-bottom: 6px;
  }
  .footer__column-link {
    color: white;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
    line-height: 18px;
    font-size: 18px;
    font-weight: normal;
  }