.khan__book-pic {
    width: 620px;
    /*height: 887px; /* не нашел другого способа, кроме пропорционального пересчета высоты картинки, т.к. нельзя использовать абсолютное позиционирование, а браузер сжимает высоту*/
    object-fit: cover;
    object-position: top;
    
  }